{% extends "base.html" %}
{% block content %}
<h1>About Our School</h1>
<img src="{{ url_for('static', filename='images/about.jpg') }}" alt="About us" width="500">
<p>Czech School of Portland was founded on April 18, 2012 by Katerina Bohadlova, Lida and Teresa O’Donnell, Julie
    O'Donovan and Gabriela Zbrankova. These courageous women united several playdate groups in the Portland area and
    created an educational institution with much larger impact than playtime sessions in Czech language. First official
    classes were open in September 2012, and the school has been operating since.</p>
<p>The school is administered by a Board of Directors composed of parents of students attending the Czech School of
    Portland.</p>
<p>Our classes are in person and online.</p>
<p>We have around 17 children enrolled in seven classes, and our teachers are native speakers with professional
    background in education. Built on the model of the Czech Schools Without Borders and in agreement with the official
    Czech education plan, we work with textbooks and materials used at public schools in the Czech Republic. In
    addition, we supplement those with teaching materials and individually prepared work sheets.</p>
<p>The number of students in each class is small, and teachers give individual attention to each student. Currently, we
    do not offer classes for adults. Private online (Skype, Zoom) classes are offered.</p>
<p><b>Notice of Nondiscriminatory Policy Regarding Students</b></p>
<p>The Czech School of Portland admits students of any race, color, national and ethnic origin to all the rights,
    privileges, programs, and activities generally accorded or made available to students at the school. It does not
    discriminate on the basis of race, color, national and ethnic origin in administration of its educational policies,
    admissions policies, scholarship and loan programs, and athletic and other school-administered programs.</p>
{% endblock %}